* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 20px;
}

#grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

section {
  padding: 10px;
  height: auto;
  border-style: solid;
  border-width: 0.2em;
  text-align: left;
}

#links li {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 30px;
  }
  #grid-layout {
    grid-template-columns: 2fr 3fr;
    grid-gap: 30px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    margin: 40px;
  }
  #grid-layout {
    grid-gap: 40px;
  }
}
