* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 0.8em;
  text-align: left;
  background-image: url("http://dl.glitter-graphics.com/pub/3478/3478375qc8mwc3b5d.gif");
  background-attachment: fixed;
  background-repeat: repeat;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.1em;
  background-color: #ffc856;
  width: 100%;
  padding: 2px;
}
h3 {
  font-size: 1.1em;
  background-color: #ffc856;
  padding: 2px;
}
p {
  padding: 5px;
}

a:link, a:visited {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
a:hover {
  background-color: #ffc856;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-style: solid;
  border-width: 0.5em;
  border-color: #ffc856;
  margin: 10px;
}

.section-content {
  padding: 10px;
}

iframe {
  width: 100%;
  height: auto;
}

.profile-info {
  padding: 10px;
}
.profile-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "h1" "pic" "info";
  grid-gap: 10px;
}
.profile-info h1 {
  grid-area: h1;
}
.profile-info #profile-pic {
  height: 150px;
  width: auto;
  grid-area: pic;
}
.profile-info #info {
  grid-area: info;
}

.status img {
  height: auto;
  width: 2em;
  vertical-align: middle;
}

.links li {
  list-style-type: none;
}
.links img {
  height: auto;
  width: 1.5em;
  margin: 5px;
  vertical-align: middle;
}

.about-me li {
  padding: 5px;
  margin-left: 50px;
}

table {
  border-spacing: 5px;
}
table td {
  background-color: #ffccee;
  padding: 5px;
}
table td.bold {
  font-weight: bold;
  background-color: #ffc856;
}

.accordion > button:focus {
  outline: none;
}
.accordion > button.tab-title {
  font-family: "Inconsolata", monospace;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  padding: 0.5em;
  margin: 0 0 2px 0;
  background-color: #ffccee;
  border: none;
  text-align: left;
  cursor: pointer;
}
.accordion > button.tab-title:hover {
  background-color: #ff66cc;
}
.accordion > button.tab-title:after {
  content: "+";
  float: right;
}
.accordion > button.tab-title.active:after {
  content: "-";
}
.accordion > .tab-content {
  padding: 0 10px 0 10px;
  font-size: 0.9em;
  max-height: 0;
  overflow: hidden;
}
.accordion > .tab-content p {
  overflow: hidden;
}

.image-carousel .carousel {
  position: relative;
  background-color: #fff;
  height: 250px;
  width: auto;
}
.image-carousel .image {
  position: absolute;
  height: 250px;
  width: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-carousel .image.current {
  opacity: 1;
}
.image-carousel .image:first-child {
  background-image: url("images/carousel/image1.jpg");
}
.image-carousel .image:nth-child(2) {
  background-image: url("images/carousel/image2.jpg");
}
.image-carousel .image:nth-child(3) {
  background-image: url("images/carousel/image3.jpg");
}
.image-carousel .image:nth-child(4) {
  background-image: url("images/carousel/image4.jpg");
}
.image-carousel .image:nth-child(5) {
  background-image: url("images/carousel/image5.jpg");
}
.image-carousel .image:nth-child(6) {
  background-image: url("images/carousel/image6.jpg");
}
.image-carousel .button {
  cursor: pointer;
  border-style: solid;
  position: absolute;
}
.image-carousel .button:hover {
  opacity: 0.8;
}
.image-carousel #arrow-left {
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 50%;
  left: 20px;
}
.image-carousel #arrow-right {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
  top: 50%;
  right: 20px;
}
.image-carousel #play-button {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
  bottom: 20px;
  right: 50%;
}
.image-carousel .pause-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-color: #fff;
  position: absolute;
  border-style: double;
  border-width: 0px 0px 0px 20px !important;
}
.image-carousel .pause-button:hover {
  opacity: 0.8;
}
.image-carousel .caption {
  color: #000;
  background-color: #ffccee;
  text-align: center;
  opacity: 0.9;
  padding: 1px 20px 1px 20px;
  font-size: 0.85em;
}

footer {
  text-align: center;
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
  .page-layout {
    display: flex;
    flex-direction: row;
  }
  .column {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  section {
    margin: 20px;
  }
  .profile-info {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "h1 h1" "pic info";
  }
  .profile-info #profile-pic {
    height: 200px;
  }
  .image-carousel .carousel {
    height: 350px;
  }
  .image-carousel .image {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .image-carousel .carousel {
    height: 500px;
  }
  .image-carousel .image {
    height: 500px;
  }
  .image-carousel .caption {
    font-size: 1em;
  }
}
