* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "profile-info"
    "tagline"
    "links"
    "image-carousel"
    "interests"
    "about-me"
    "footer";
}

section {
  padding: 10px;
  height: min-content;
  border-style: solid;
  border-width: 0.2em;
  text-align: left;
}

.profile-info {
  grid-area: profile-info;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "h1 h1" "pic info";
  grid-gap: 1em;
}

.profile-info h1 {
  grid-area: h1;
}

#profile-pic {
  height: 200px;
  width: 200px;
  grid-area: pic;
}

#info {
  grid-area: info;
}

.tagline {
  grid-area: tagline;
}

.links {
  grid-area: links;
}

.links li {
  list-style-type: none;
}

.image-carousel {
  grid-area: image-carousel;
}

.carousel {
  position: relative;
  background-color: #000;
  height: 500px;
  width: 700px;
}

.image {
  position: absolute;
  height: 400px;
  width: 600px;
  margin: 50px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image.current {
  opacity: 1;
}

.image:first-child {
  background-image: url("images/image1.jpg");
}
.image:nth-child(2) {
  background-image: url("images/image2.jpg");
}
.image:nth-child(3) {
  background-image: url("images/image3.jpg");
}

.button {
  cursor: pointer;
  border-style: solid;
  position: absolute;
}

#arrow-left {
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 50%;
  left: 20px;
}

#arrow-right {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
  top: 50%;
  right: 20px;
}

#play-button {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #fff;
  bottom: 15px;
  right: 50%;
}

.pause-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-color: #fff;
  position: absolute;
  border-style: double;
  border-width: 0px 0px 0px 20px !important;
}

.caption {
  color: #000;
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.interests {
  grid-area: interests;
}

.about-me {
  grid-area: about-me;
}

footer {
  grid-area: footer;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 30px;
  }
  .grid-layout {
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "profile-info tagline"
      "profile-info image-carousel"
      "links image-carousel"
      "interests about-me"
      "footer footer";
    grid-gap: 30px;
  }
}

@media only screen and (min-width: 992px) {
  body {
    margin: 40px;
  }
  .grid-layout {
    grid-gap: 40px;
  }
}
